<aside class="main-sidebar sidebar-light-primary elevation-4 ">

  <a class="brand-link bg-gray-light">
    <img src="../../../assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
      style="opacity: .8">
    <span class="brand-text font-weight-light">HRM-LEAVESYSTEM</span>
  </a>


  <div class="sidebar">

    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="../../../assets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">{{info.username | uppercase }}</a>
      </div>
    </div>


    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li class="nav-item">
          <a routerLink="leaveManagement/RequestLeave" class="nav-link" routerLinkActive="active" *ngIf="info.authorities=='EMPLOYEE'||info.authorities=='ACCOUNTANT'">
            <i class="far fa-circle nav-icon"></i>
            <p>Leave Management</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="leaveManagement/requestedLeaves" class="nav-link" routerLinkActive="active" *ngIf="info.authorities=='HR'">
            <i class="far fa-circle nav-icon"></i>
            <p>Leave Management</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="leaveManagement" class="nav-link" routerLinkActive="active" *ngIf="info.authorities=='ADMIN'||info.authorities=='DIRECTOR'||info.authorities=='HR_MANAGER'||info.authorities=='MANAGER'">
            <i class="far fa-circle nav-icon"></i>
            <p>Leave Management</p>
          </a>
        </li>
        
        <!--Trainer Navigations-->
       
      </ul>
      <a class="nav-link" routerLink="profile/profileInfo" routerLinkActive="active" target="_blank">Test</a>
    </nav>
  </div>
</aside>